:root {
	--container-width: 1440px;
	--container-padding: ;

	--font-main: 'Inter', sans-serif;
	--font-secondary: 'Poppins', sans-serif;
	--font-accent: 'Space Grotesk', sans-serif;
	

	--page-bg: #fff;
	--main-bg: rgba(255, 171, 0, 0.64);
	--main-text-color: #141718;
	--accent: #377DFF;
	--white-accent: #FEFEFE;
	--grey-accent:#E8ECEF;
	--text-color-yellow: #FFAB00;
	
    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}