.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 160px;

    background-color: var(--main-bg);
    color: var(--main-text-color);
}

@media (max-width: 376px) {
    .nav{
        padding:18px 32px;
    }
}

// -----------------------------------------

// ------------------------------------------

.nav__container{
    width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 376px) {
    .nav__container{
        max-width: 311px;
        
    }
    
}
// -------------------------------------------

.nav__logo h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;

    font-family: var(--font-secondary);
}

@media (max-width: 376px) {
    .nav__logo{
        display: flex;
        align-items: center;
        
    }
    .nav__logo h2{
        font-size: 16px;
    }
}
// -------------------------------------

.nav__list ul{
    display: flex;
    gap:40px;
    align-items: center;

    font-family: var(--font-main);
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 376px) {
    .nav__list {
        display: none;
    }
}
// ------------------------------------


.nav__user-tools {
    display: flex;
    gap: 18px;
    align-items: center;
}
// -----------------------------------
.user-tools__search {}
.user-tools__account {}

@media (max-width: 376px) {
    .user-tools__search,
    .user-tools__account{
       display: none; 
    }
    
}
// ------------------------------------

.user-tools__bag {
    display: flex;
    gap:5px;
    align-items: center;
    
}

.user-tools__notific {}


.nav__mobile,
.burger {
    display: none;
}

@media (max-width: 376px) {
    .burger {
        display: block;
        height: 24px;

    }


}

// MOBILE MENU --------------------------
    
.mobile__menu{
    display: none;
}

@media (max-width: 376px) {
  
    .mobile__menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;

        width: 343px;
        height: 100vh;
        padding: 24px;

        background-color: #fff;
        z-index: 20;

        transition: left 0.3s ease;
    }
    .mobile__menu.--open {
      left: 0;
    }
    .mobile__overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);

        opacity: 0;
        pointer-events: none;

        transition: opacity 0.3s ease;
        z-index: 10;
    }

    .mobile__overlay.--open {
        opacity: 1;
        pointer-events: auto;
    }
    body.menu-open {
        overflow: hidden;
    }

  .mobile__menu-content {
      max-width: 295px;


      display: flex;
      flex-direction: column;
      gap: 244px;
  }

  .mobile__menu-main {
      display: flex;
      flex-direction: column;
      gap: 16px;
  }

  .mobile__menu-header {
      display: flex;
      justify-content: space-between;
  }

  .mobile__menu-logo {

      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;

      span {
          color: #6C7275;
      }

  }

  .mobile__menu-close-icon {}

  .mobile__menu-search-field {
      font-family: var(--font-main);
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0px;

      border-radius: 8px;
      border: 1px solid #6C7275;

      max-height: 46px;
      padding: 12px 16px;

      display: flex;
      gap: 8px;
  }

  .mobile__menu-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
  }



  .mobile__menu-item {
      padding-bottom: 16px;
      border-bottom: 1px solid #E8ECEF;

      a {
          font-family: inherit;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0px;

          color: var(--main-text-color);
      }
  }

  .mobile__menu-footer {
      display: flex;
      flex-direction: column;
      gap: 19px;
  }

  .mobile__user-tools {
      li {
          display: flex;
          justify-content: space-between;
          align-items: center;

          padding-bottom: 8px;
          border-bottom: 1px solid #E8ECEF;

          img {
              height: 24px;
              width: 24px;
          }
      }

      a {
          color: #6C7275;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: -0.4px;
      }
  }

  .mobile__cart {}

  .mobile__wishlist {}

  .mobile__menu-btn {
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -0.4px;

      padding: 10px 119px;
      border-radius: 6px;

      color: white;
      background-color: var(--main-text-color);
  }

  .mobile__menu-socials {
      display: flex;
      gap: 24px;
  }
}


