.newsletter {
    background-image: url('../../img/newsletter/Paste image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(226, 228, 227, 1);
    height: 360px;
    padding-top: 101px;
    padding-bottom: 93px;
    @media (max-width: 376px) {
      background-image:none;
      padding: 95px 32px;
    }
}


.newsletter__container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    @media (max-width: 376px) {
      max-width: 311px;
    }
}

.newsletter__cta {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    width: 540px;
    @media (max-width: 376px) {
      max-width: 311px;
      align-items: center;
      justify-content: center;
    }
}

.cta__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    h3{
        font-family: var(--font-secondary);
        font-weight: 500;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.4px;

        color: #000;
        @media (max-width: 376px) {
          font-size: 28px;
          line-height: 34px;
          letter-spacing: -0.6px;
          text-align: center;
        }
    }
    p{
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 18px;

        color: #000;
        @media (max-width: 376px) {

            font-family: var(--font-main);
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
        }
    }

   
}

.input-area{
    display: flex;
    gap: 8px;
    

    width: 488px;

    padding-top: 12px;
    border-bottom: 1px solid rgba(108, 114, 117, 0.5);

    input {
        font-family: var(--font-main);
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.4px;

        width: 396px;
        height: 28px;

        color: #6C7275;
    }

    button{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.4px;
        color: #6C7275;
    }
    @media (max-width: 376px) {
      max-width: 311px;
      
    }
    
}

 